{% extends "base.html" %}

{% load courses_tags %}

{% block content %}
<div class="pure-g-r content-ribbon">

    <div class="pure-u-1">
        <ul class="breadcrumb">
            {% block breadcrumb %}
            <li><a href="{% url 'dashboard' %}">Meu Painel</a></li>
            {% endblock %}
        </ul>
    </div>
    <div class="pure-u-1-3">
        <div class="pure-menu pure-menu-open">
            <ul>
                {% load_my_courses user as enrollments %}
                <li class="pure-menu-heading">Meus Cursos</li>
                {% for enrollment in enrollments %}
                <li><a href="#">{{ enrollment.course }}</a></li>
                {% empty %}
                <li>Nenhum curso encontrado</li>
                {% endfor %}
                <li class="pure-menu-heading">Minha Conta</li>
                <li><a href="{% url 'edit' %}">Editar Conta</a></li>
                <li><a href="{% url 'edit_password' %}">Editar Senha</a></li>
            </ul>
        </div>
    </div>
    <div class="pure-u-2-3">
        <div class="inner">
            {% block dashboard_content %}
            <p><strong>Usuário</strong>: {{ user }}</p>
            <p><strong>E-mail</strong>: {{ user.email }}</p>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}