<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <title>Simple MOOC</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="{% url 'home' %}">SIMPLE MOOC</a>
            <ul>
                <li class="pure-menu-selected"><a href="{% url 'home' %}">Início</a></li>
                <li><a href="{% url 'index' %}">Cursos</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'dashboard' %}">Painel</a></li>
                    <li><a href="{% url 'logout' %}">Sair</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Entrar</a></li>
                {% endif %}
                <li><a href="{% url 'contact' %}">Contato</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        {% if messages %}
        <div class="pure-g-r content-ribbon">
                <aside class="pure-u-1">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
            </aside>
        </div>
        {% endif %}
        {% block content %}{% endblock %}
        <div class="footer">
            Simple MOOC - Uma simples plataforma de ensino a distância
        </div>
    </div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>